<configuration>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%-5level]) [%thread %logger{20} %file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Override this by passing a system property: -Droot-log-level={OFF|ERROR|WARN|INFO|TRACE} -->
    <root level="\${root-log-level:-INFO}">
        <appender-ref ref="COLOR"/>
    </root>
</configuration>