# OSX
*.DS_Store

# Logs
*.log

# SBT Build
/classes/
/build/
/bin/
/out/
target/
/lib_managed/
*.jar
*.class
benchmark-measurements.csv

# Metals Build
.bloop
.bsp
.metals
metals.sbt

# IDEs/editors
.vscode
.idea
*.iml
*.ipr
*.iws
